<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/vectors/room-interior-vector-id469835122?k=20&m=469835122&s=612x612&w=0&h=UjI3i73QVbiJaJpA04r30WFMSmUJPHzN2vIb8aEIu7Y=);">
  <div class="container">
    <h1><strong>Air dorms</strong></h1>
    <p>Where you can find a perfect room.</p>
    <%= link_to "Come see", rooms_path, class: "btn btn-flat" %>
  </div>
</div>
